@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#header {
	font-family: 'Anton';
	background-color: white;
	position:fixed;
    top: 0;
    left: 0;
    width:100%;
}

#footer {
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: 'Tahoma', courier, sans-serif;
	font-style: italic;
	font-size: 10px;
}

body {
	margin: 0;
	margin-bottom: 100px;
	padding: 0;
}


body {
	background-color: black;
	color: black;
	font-family: 'Tahoma', courier, sans-serif;
}

input {
	width: 10%;
}

button {
	font-size: 15px;
	border: none;
	margin: 2px;
	background-color: white;
	color: black;
	font-family: 'Tahoma', courier, sans-serif;
}

#console {
	text-align: center;
	color: white;
}
