@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#header {
	font-family: 'Anton';
	background-color: gold;
	position:fixed;
    top: 0;
    left: 0;
    width:100%;
}


body {
	background-color: black;
	color: black;
	font-family: 'Tahoma', courier, sans-serif;
}

input {
	width: 10%;
}

button {
	font-size: 15px;
	background-color: white;
	color: black;
	font-family: 'Tahoma', courier, sans-serif;
}

img {
	width: 400px;
}

#console {
	text-align: center;
	color: white;

}
